<div class="row">
  <input type="checkbox" (change)="change1()" [(ngModel)]="checkedParent1"> Checkbox Parent 
  <br/>
  <input type="checkbox"  [(ngModel)]="checkedParent1"> Checkbox child1
  <input type="checkbox"  [(ngModel)]="checkedParent1"> Checkbox child2
</div>
<br/><br/>
<div class="row">
  <input type="checkbox" (change)="change2()" [(ngModel)]="checkedParent2"> Checkbox Parent 
  <br/>
  <input type="checkbox"  [(ngModel)]="checkedParent2"> Checkbox child1
  <input type="checkbox"  [(ngModel)]="checkedParent2"> Checkbox child2
</div>